@charset "utf-8";
*{margin: 0px;padding: 0px;outline: 0px;list-style: none;text-decoration: none;box-sizing: border-box;}
:root{
    --color-body:#ecf0f1;
    --color-blue:#2c3e50;
    --color-blue-100:#929aa0;
    --color-yellow:#f39c12;
}
html, body{height: 100%;}
body{background-color: var(--color-body);min-height: 1000px;}
/* start header */
    /* start navbar */
body header .container .navbar .container-fluid .navbar-brand{color: var(--color-blue);font-weight: 500;}
body header .container .navbar .container-fluid .navbar-toggler{border: none !important;padding:0px;cursor: pointer;}
body header .container .navbar .container-fluid .navbar-toggler:focus{box-shadow: none !important;}
body header .container .navbar .container-fluid .navbar-nav{margin: 0px auto;}
body header .container .navbar .container-fluid .nav-link{cursor: pointer;color: var(--color-blue);font-weight: 500;}
body header .container .navbar .container-fluid .list-icons{gap: 5px;}
body header .container .navbar .container-fluid .list-icons li a{color: var(--color-blue) !important;}
body header .container .line{/*width: calc(100% - calc(calc(var(--bs-gutter-x) * .5) * 2));*/width: 100%; height: 1px;background-color: var(--color-blue-100);margin: 0px auto;}
    /* start slider */
body header .container .slider{min-height:calc(460px - 50px);margin-top: 50px;}
body header .container .slider .carousel-inner {min-height: inherit;}
body header .container .slider .carousel-inner .carousel-item{position: relative;min-height: inherit;}
body header .container .slider .carousel-inner .carousel-item .img {min-height: inherit;position: relative;border-radius: 25px;overflow: hidden;max-width: 80%;}
body header .container .slider .carousel-inner .carousel-item .img >img{position: absolute;top: 0px;height: 100%;opacity: 0.8;}
body header .container .slider .carousel-inner .carousel-item .carousel-caption{position: absolute;width: 320px;border: 8px solid var(--color-body);border-radius: 10%;right: 0px;top: 50%;transform: translateY(-50%);left: initial;background-color: var(--color-blue);padding: 15px;height: fit-content;}
body header .container .slider .carousel-inner .carousel-item .carousel-caption label i{color: var(--color-yellow);}
body header .container .slider .carousel-inner .carousel-item .carousel-caption p{ font-size: 13px;color: #fff !important;}
body header .container .slider .carousel-inner .carousel-item .carousel-caption button{background-color: var(--color-body);}
body header .container .slider .carousel-inner .carousel-item .carousel-caption button:hover{color: var(--color-blue);}
body header .container .slider .carousel-indicators{position: static;margin-top: 25px !important;margin-bottom: 0px !important;}
body header .container .slider .carousel-indicators > button{background-color: var(--color-blue-100);}
@media (max-width:575px){
    body header .container .line{max-width: calc(100% - calc(16px * 2));}
    body header .container .slider .carousel-inner .carousel-item .img{max-width: 100% !important;border-radius: 0px;}
}
/* end header  */
/* start main */
    /* start section 0 */
body main #section_0 {margin: 100px auto;}    
body main #section_0 .container h4{color: var(--color-blue);font-weight: bold; margin: 5px 0px;}    
body main #section_0 .container .heading kbd{height: fit-content;cursor: pointer;}
body main #section_0 .container p{color: var(--color-blue);}
body main #section_0 .container .cards{display: flex;justify-content: center;flex-wrap: wrap; gap: 15px;}
body main #section_0 .container .cards .card{padding: 15px;width:285px;}
body main #section_0 .container .cards .card h5{margin-top:.5rem ;}
body main #section_0 .container .cards .card h5, p, div > i{color: var(--color-blue);}
body main #section_0 .container .cards .card div > i{font-size: 1.5em;}
body main #section_0 .container .cards .card div > i:nth-of-type(2){margin-left: auto;margin-right: 5px;cursor: pointer;}

@media (max-width:575px){
    body main #section_0 .container p{width: 100% !important;text-align: center;}
}